<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="35" android:compileSdkVersionCodename="15" package="com.atakmap.android.atos.plugin" platformBuildVersionCode="35" platformBuildVersionName="15">
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USB_PERMISSION"/>
    <uses-feature android:name="android.hardware.location.network"/>
    <uses-feature android:name="android.hardware.usb.host"/>
    <uses-feature android:name="android.hardware.bluetooth"/>
    <uses-permission android:minSdkVersion="30" android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <permission android:name="com.atakmap.android.atos.plugin.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.atakmap.android.atos.plugin.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:description="@string/app_name" android:extractNativeLibs="true" android:icon="@drawable/ic_atos" android:label="@string/app_name" android:requestLegacyExternalStorage="true" android:theme="@style/ATAKPluginTheme">
        <meta-data android:name="plugin-api" android:value="com.atakmap.app@5.4.0.CIV"/>
        <meta-data android:name="app_desc" android:value="@string/app_name"/>
        <service android:exported="true" android:name="com.atakmap.android.atos.accessory.service.CommandLinkService">
            <intent-filter>
                <action android:name="com.atakmap.android.atos.accessory.service.CommandLinkService"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" android:resource="@xml/device_filter"/>
        </service>
        <activity android:exported="true" android:name="com.atakmap.app.component">
            <intent-filter android:label="@string/app_name">
                <action android:name="com.atakmap.app.component"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:icon="@drawable/atos_icon_main" android:name="com.toughstump.atos.activity.AtosActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="com.toughstump.atos.activity.pref.prefactivity.PreferencesActivity"/>
        <provider android:authorities="com.atakmap.android.atos.plugin.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
        </provider>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
