[Unit]
Description=ATOS TAK Forwarder TDMA Version (Testing)
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/ATOS-Tak-Forwarder
ExecStart=/usr/bin/python3 marshall_tak_tdma.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target 